<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyService</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/ie10-viewport-bug-workaround.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/cover.css">
</head>
<body>
<!--    空行-->
<!--    <div>-->
<!--&lt;!&ndash;        空行&ndash;&gt;-->
<!--        <br>-->
<!--        <br>-->
<!--        <br>-->
<!--    </div>-->
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">MyService</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#">Home</a></li>
<!--                                <li><a href="#">Features</a></li>-->
<!--                                <li><a href="#">Contact</a></li>-->
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">欢迎来到MyService.</h1>
                    <p class="lead">
                        <a href="MainPage" class="btn btn-lg btn-default">Enter</a>
                    </p>
                </div>

                <!--<div class="mastfoot">
                    <div class="inner">
                        <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</body>
<script th:inline="javascript">

</script>
</html>